<!DOCTYPE html>
<html ng-app="primeraApp">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="controller.js"></script>

</head>
<body ng-controller="primerControl">
	<input type="text" ng-model="nombre"><br>
	{{"Hola, "+ nombre}}<br>
	User: <input type="text" ng-model="nuevoComentario.user"><br>
	Post: <input type="text" ng-model="nuevoComentario.post"><br>
	<button ng-click="agregarComentario()">Agregar comentario</button>
	<h3>COMENTARIOS:</h3>
	<ul>
		<li ng-repeat="i in comentario">
			{{i.user}} - {{i.post}}
		</li>
	</ul>

</body>
</html>